<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form 07</title>
    <link rel="stylesheet" href="../css/form7.css">
</head>
<body>
    <section class="container">
        <div class="container-part">
            <div class="content">
                <h2>VULNERABILITY NOTICE</h2>
                <h3>Contact Form 7</h3>
            </div>
            <div class="form7" >
                <form action="#" >
                    <label for="#">Name</label><br>
                    <input type="text" placeholder="Your Name..." required><br>
                    <label for="#" >Email</label><br>
                    <input type="email" placeholder="Your E-mail Address..." required><br>
                    <label for="#">Message</label><br>
                    <textarea name="message" id="message" class="message"
                    cols="30" rows="6" placeholder="Your Message..."></textarea> 
                    <input type="submit" value="Send" class="submit">         
                </form>
            </div>
        </div>
        
    </section>

    
</body>
</html>