<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <!-- css for signin -->
    <link rel="stylesheet" href="../css/signin.css">
</head>
<body>
    <section class="container">
        <div class="header">
            <h2>Log In</h2>
        </div>
        <div class="form-main">
            <form action="#" class="form-area">
                <label for="name">User Name:</label><br>
                <input type="text" class="name" required><br>
                <label for="name">Email:</label><br>
                <input type="email" class="email" required><br>
                <label for="name">Password:</label><br>
                <input type="password" class="pass" required><br>
                <input type="submit" class="submit" value="Sign In">
            </form>

        </div>
    </section>
    <footer>
        &copy;2023 - All Rights Reserved by Shimul Dio
    </footer>   
</body>
</html>