<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Form</title>
    <!-- main css -->
    <link rel="stylesheet" href="../css/signup.css">
</head>
<body>
    <section class="signup-form">
        <div class="header">
            <h2>Sign Up Form</h2>
            <p>Lest's Create Your Account</p>
        </div>
        <form action="" class="form-main">
            <h3>Enter your details below</h3>
            <div class="name">
                <input type="text" class="name1" placeholder="First Name" required>
                <input type="text" class="name2" placeholder="Last Name" required>
            </div>
            <input type="email" class="email" placeholder="Email" required>
            <div class="pass">
                <input type="password" class="pass1" placeholder="Password" required>
            <input type="password" class="pass2" placeholder="Confirm Password" required>
            </div>
            <input type="number" class="phone" placeholder="Your Phone Number" required>
            <input type="submit" value="Submit" class="submit">
        </form>
    </section>
</body>
</html>